@import 'colors';
@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    color: $text-color-primary;
    background-color: $bg-color-secondary;
}

.hero {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background: rgb(225, 255, 143);
    height: 800px;
    background-image: url('img/hero-bg.svg'), url('img/star-2.svg'), url('img/star-3.svg'), url('img/star-4.svg'), url('img/star-5.svg');
    background-position:
    800px -350px,
    40px 90px,
    140px 70px,
    1050px 570px,
    950px 540px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.header {
    padding-top: 200px;
    display: flex;
    gap: 24px;
    flex-direction: column;

    &__title {
        max-width: 768px;
        font-size: 64px;
        font-weight: 700;
    }
    
    &__subtitle {
        max-width: 720px;
        font-size: 24px;
    }

    &__button {
        min-width: 247px;
        width: fit-content;
        height: 66px;
        font-weight: 600;
        margin-top: 48px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px 28px;
        color: #FFFFFF;
        font-family: $font-family-primary;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #FFFFFF;
            color: rgb(32, 32, 39);
        }
    }
}

.scroll {
    display: flex;
    gap: 50px;
    padding-top: 25px;
    height: 90px;
    width: 100%;
    background-color: rgb(188, 236, 48);
    overflow: hidden;
    white-space: nowrap;

    &__text {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__icon {
        height: 30px;
    }
}

.games {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background: rgb(32, 32, 39);
    padding-bottom: 100px;

    &__intro {
        padding-top: 100px;
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        margin-bottom: 24px;
    }

    &__description {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        max-width: 780px;
        margin-bottom: 74px;
    }

    &__list {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }
}

.game-card {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }

    &:nth-child(2),
    &:nth-child(5) {
        .game-card__content {
            height: 512px;
        }
    }

    &:nth-child(4),
    &:nth-child(6) {
        .game-card__content {
            height: 551px;
            margin-top: -42px;
        }
    }

    &__content {
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        height: 473px;
        width: 378px;
        text-decoration: none;
        color: inherit;
        display: block;
    }

    &__image {
        width: 100%;
        border-radius: 30px 30px 0 0;
    }

    &__info {
        padding: 32px;
    }

    &__badge {
        width: 108px;
        height: 36px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        display: flex;
        align-items: center;
        justify-content: center;

        &-text {
            font-size: 16px;
            font-weight: 500;
            color: rgb(32, 32, 39);
        }
    }

    &__title {
        padding-top: 16px;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }
}

.star-icon{
    height: 30px;
}